[2015-08-19 20:39] mro opened #1 "Define expected html structure (a.k.a. API)"
currently that's rather simple, because there's so few templates actually fiddling with markup, so a ~40 LOC xslt mostly covers all what's used: [response.xslt](https://github.com/mro/ShaarliOS/blob/master/ios/ShaarliOSTests/response.xslt) (see [xslt.sh](https://github.com/mro/ShaarliOS/blob/master/ios/ShaarliOSTests/xslt.sh) how to apply it).

The [Objective-C parsing code](https://github.com/mro

[2015-08-25 09:48] dimtion opened #2 "Update Shaarli links to the community fork"
It seems that most links to the Shaarli project are going to : http://sebsauvage.net/wiki/doku.php?id=php:shaarli
True, it is the original project and credit must be given to Sebsauvage, but It would be easier if every user is using a more up to date Shaarli. Why not using the [community fork](https://github.com/shaarli/Shaarli) ?

[2015-08-25 20:35] mro commented on #2
I want to stay compatible with the original as long as possible on the one side.

On the other you are right and I will re-think about linking to the community fork more prominently.

But mostly it's for compatibility and testing reasons. But if I have a compatibility testing script, I may link to the more 'dynamic' community fork. Or even better add the test to the community shaarli itself - if a

[2015-08-25 20:40] mro opened #3 "use form input attribute `name` rather than `id`"
@dimtion raised this issue at https://github.com/dimtion/Shaarlier/issues/15#issuecomment-134539305

[2015-08-25 21:32] mro commented on #3
- form field input already uses `name` - [ShaarliM.m:L267](https://github.com/mro/ShaarliOS/blob/8ec1568edceadae0d6b0a31e834ba2bba4074ffb/ios/ShaarliOS/ShaarliM.m#L267)
- shaarli title is optional [ShaarliM.m:L221](https://github.com/mro/ShaarliOS/blob/8ec1568edceadae0d6b0a31e834ba2bba4074ffb/ios/ShaarliOS/ShaarliM.m#L221)
- error messages don't show otherwise [ShaarliM.m:L244](https://github.com/

[2015-08-25 21:32] #3 closed

[2015-08-25 21:53] mro commented on #1
https://github.com/shaarli/Shaarli/issues/16

[2015-09-05 00:32] mro commented on #2
poke. See also https://github.com/shaarli/Shaarli/issues/16#issuecomment-137886509

[2015-09-05 01:59] mro commented on #1
a scary compatibility chart: https://travis-ci.org/mro/phptestdemo/builds/78854177

[2015-09-06 12:14] dimtion commented on #2
I have for the moment created no automated tests to ensure compatibility with shaarli/Shaarli:main. It's a shame, but I was not lazy enough to make them. So for the moment, when a new version of Shaarli is release I try it "by hand" and edit the app accordingly. It is enough today because of the little number of functionalities (only post a link) and the slow rate of Shaarli updates.
I am aware th

[2015-09-06 18:27] mro commented on #2
ic, so you may be interested in what I'm doing at [test-post.sh](https://github.com/mro/Shaarli-API-test/blob/master/scripts/test-post.sh) - that's the flow I use to add/post a link.

There's a strange issue I could need help with - I don't understand why the [Atom Feed brings strange results after adding a link](https://travis-ci.org/mro/Shaarli-API-test/jobs/78946288#L363) for some php/shaarli v

[2015-09-06 18:35] mro commented on #1
continued from https://github.com/mro/ShaarliOS/issues/2#issuecomment-138078054:

ic, so you may be interested in what I'm doing at test-post.sh - that's the flow I use to add/post a link.

There's a strange issue I could need help with - I don't understand why the Atom Feed brings strange results after adding a link for some php/shaarli version combinations.

I'd very much appreciate if you could

[2015-09-07 12:52] mro commented on #2
now as the [tests](https://github.com/mro/Shaarli-API-test#shaarli-api-test) I will wait until Shaarli stabilizes a bit (until the next Shaarli release or so) and then adjust the links & text.

[2015-09-09 11:51] mro opened #4 "Use shaarli response field presets"
currently when posting a link we start network interaction *after* tapping `Post`.

Thus e.g. the server-side url cleanup and other (server-side) field defaults are overwritten.

Todo: start server interaction early and present the response as defaults. Additional benefit: ShaarliOS can modify existing links.

[2015-09-16 08:02] #2 closed

[2015-09-17 20:45] mro commented on #1
so finally the complicated/underspecified things IMO are

- logged-in state (which may imply from other `<input` fields, dependent on the context)
- find shaarli title (optional, robust from Atom feed)
- error messages.

@dimtion what else do you think?

[2015-09-18 07:12] mro commented on #1
Ouch. How to detect a successful add? See https://github.com/shaarli/Shaarli/issues/308#issuecomment-141366230

[2015-09-18 14:45] mro commented on #1
try to get PR https://github.com/shaarli/Shaarli/pull/354 through.

[2015-09-23 21:34] mro commented on #1
plus try to get PR shaarli/Shaarli#357 through.

[2015-10-10 11:25] Eragos opened #5 "App still crashing"
I moved to another Shaali url with an valid SSL certificate. When I try to change the URL in ShaarliOS the App crashes every time.

I tried the following things without success:
* Connect via HTTP instead of HTTPS
* Completely remove the App from the phone. After reinstall, the Settings are still there.

[2015-10-10 11:37] mro commented on #5
can you give details about

- the procedure you apply (in other words: plz describe what precisely you do),
- the shaarli version you use,
- what template?

The App shouldn't ever crash, naturally, but in the worst case give an error message.

[2015-10-10 12:00] Eragos commented on #5
Thanks for the quick reply. Here are my Steps:

1. Startung ShaaliOS
2. Enter Settings Dialog
3. Change Hostname
4. Change to HTTPS
5. Press Done
6. Crash

I send you the console log and crash report to your personal mail.

[2015-10-10 12:51] chazdiezal opened #6 "https not working"
I can connect with http without any issues but when I try with https enabled the new note doesn't save.

[2015-10-10 13:13] mro commented on #6
thanks for your report, It's a bit scarce, can you give me some details, most important about the SSL certificate? If you prefer via [private email](mailto:shaarlios@mro.name?subject=https://github.com/mro/ShaarliOS/issues/6).

[2015-10-12 06:58] mro commented on #5
the bug is triggered by a `div` tag without attributes in the response html.

Until the fixed version is through the App Review, you can workaround by adding a dummy attribute to all `div`and `span` tags in your custom template, e.g. `<div class=''>...`

@Eragos Can you confirm this prevents the crash?

Thank you for your patience.

[2015-10-18 07:50] mro commented on #6
maybe similar https://github.com/shaarli/Shaarli/issues/356

If no additional information comes in, I will have to close this issue.

[2015-11-04 22:02] mro commented on #5
ping @Eragos ?

[2015-11-04 22:02] mro commented on #6
ping @chazdiezal ?

[2015-11-22 19:52] mro commented on #6
@chazdiezal sorry, your reply slipped through. Can you [email](mailto:shaarlios@mro.name?subject=[ShaarliOS]%20Bugreport&body=Thank%20you%20very%20much%20for%20your%20bug%20report.%20I%20am%20very%20sorry%20for%20the%20inconvenience.%0D%0A%0D%0ATo%20be%20able%20to%20quickly%20hunt%20down%20and%20eliminate%20the%20bug,%20please%20include%20some%20additional%20information:%0D%0A%0D%0A-%20can%20you%2

[2015-11-22 20:02] mro commented on #4
There is a UX issue here - the server roundtrip takes time prior editing. @dimtion How do you handle this?

[2015-11-22 20:22] dimtion commented on #4
Yes server defaults are overwritten like fetching description field or fetching title field.

But I don't think this is really a problem since the user doesn't really want exactly the same behavior on his phone and on the web interface.

The solution I use for the moment, is to launch the interface with prefetched data that the app sent me (like the title of the link and the url) ; show a loading

[2015-11-22 20:29] mro commented on #4
it's the timing. When sharing the dialog should wait until the server response comes in. How would the server response and simultaneous user input be merged?

But blocking until the server responds (>0.5 sec usually) when the large amount of use cases is *NOT* editing *existing* entries sounds bad to me, too.

What do you think? Forbid edit or wait for response?

[2015-11-22 20:37] dimtion commented on #4
What I do is to notify the user that the application is waiting for a response from the server, but I don't block the user to enter his own value. If he does so I discard the server response.
Also, if the user press "post" before the first response arrive I wait for the response before posting.

I think this system is quite reliable because if the user want to write down his own description he won

[2015-11-22 20:41] mro commented on #4
indeed, sounds like the way to go.

[2015-11-22 20:46] dimtion commented on #4
IMHO, blindly wait for the server response while blocking user input can become very frustrating.

I hope I could helped you.

[2015-11-22 20:54] mro commented on #4
yes, thank you, you did very much so. I thought about blocking and an aggressive timeout (<5sec) but your approach is by far superior.

[2015-11-22 21:04] mro commented on #1
seems done, `scripts/test-post.sh` and `scripts/test-login.sh` of https://github.com/mro/Shaarli-API-test seem to be what's needed minimally.

@dimtion what do you think, does that make sense and help future development, both of clients as yours and mine and shaarli itself?

[2015-11-22 21:05] #1 closed

[2015-11-22 23:12] dimtion commented on #1
If I understand well this is a tool to check if a Shaarli is compatible with the current "API" ?

So yes it could be good thing to add to Shaarli's testing tool chain, because if any regression made through to production It could become painful for us to keep track of multiple interfaces. So for the moment, it is a good turnaro

[2015-11-22 23:17] dimtion commented on #1
If I understand well this is a tool to check if a Shaarli is compatible with the current "API" ?

So yes it could be good thing to add to Shaarli's testing tool chain, because if any regression made through to production It could become painful for us to keep track of multiple interfaces. So for the moment, it is a good thing to keep. You should propose it to Shaarli maintainers to avoid us missin

[2015-12-23 12:47] chazdiezal commented on #6
@mro, ssl labs server report has been sent to you via email as well
[SSL Server Test_ allthingssquared.pdf](https://github.com/mro/ShaarliOS/files/70773/SSL.Server.Test_.allthingssquared.pdf)
, thanks!

[2015-12-23 13:45] mro commented on #6
Hi @chazdiezal ,

can you send me a screenshot of the complete settings screen prior and after hitting the „Done“ button top right?

I want to know both how the fields are filled in and what the error messae says.

The „URL“ has to be without protocol: www.allthingssquared.com/shaarli/
and the ‚https‘ switch has to be on (I will rework this in the next release)):

Thank you for your patience!

[2015-12-23 14:32] chazdiezal commented on #6
Thanks for looking into this.

![img_0440](https://cloud.githubusercontent.com/assets/11147538/11978258/f5e11600-a981-11e5-818d-18179dfe9aaa.PNG)
![img_0441](https://cloud.githubusercontent.com/assets/11147538/11978259/f5edd854-a981-11e5-9c66-8f52f8491d63.PNG)

[2015-12-23 14:41] chazdiezal commented on #6
Just to make note...in the 2nd screenshot when I hit "shaare" after filling in the info I want to save nothing occurs.  No error message, I check my shaarli and note doesn't get saved, nothing.  I then have to hit cancel, switch off https, then save the note over http....hope this helps.

[2015-12-23 14:44] mro commented on #6
ok, helps. Further investigation may take a few days.

[2016-01-15 13:23] joedemo42 commented on #5
Well, since he doesn't answer, let me do.

Ensuring that there are no div/span tags without attributes fixes this.
**BUT**: This was not caused by a custom template - at least not in my case.
In my case two of the included plugins added empty spans. The culprits were/are `plugins/qrcode` and `plugins/archiveorg`. The latter one is easily fixed by editing `plugins/archiveorg/archiveorg.html`, but a

[2016-01-15 13:28] joedemo42 opened #7 "Logging in with bad credentials displays HTML code as error message"
Well, the title says it all.
When you try to login to an otherwise valid server using bad credentials, you get a `<script>alert("Wrong login/password.");document.location='?do=login';</script>` as the error message.

This is probably not intended. Happend to me with the AppStore version and shaarli/Shaarli@92ba7b573f2833bd35c7eb2fc7fdbeb1a0ac7b44

[2016-01-15 18:33] mro commented on #5
@joedemo42 sorry for the incenvenience, the claim holds, it's a plain bug here.

The fix went into review by Apple today, so expect it within the next days.

[2016-01-15 18:38] mro commented on #5
@joedemo42 is your version mentioned at https://travis-ci.org/mro/Shaarli-API-test/builds/94725334 as successful build?

[2016-01-15 18:40] mro commented on #7
filtering the error responses out of the html/javascript rsponses is a bit tedious and shaky. I will add a test to https://github.com/mro/Shaarli-API-test to properly tst it against a range of shaarli versions.

[2016-01-15 18:49] joedemo42 commented on #5
Umm.... I have to admit, I really am not sure how to check Travis-CI for this.

I cloned the master of Shaarli yesterday, and since the latest commit was 4 days ago, I figured it would be OK to reference the hash of this commit. Hope this helps.

[2016-01-15 20:27] mro commented on #5
@joedemo42 I mean the Shaarli backend version, not the ShaarliOS client one.

[2016-01-15 20:29] joedemo42 commented on #5
@mro so do I.

[2016-01-15 20:38] mro commented on #5
ic, good, where from did you get the backend php sources? (download link?)

[2016-01-15 20:42] joedemo42 commented on #5
Well, as I said: i cloned them. Right from the github repo.

git clone https://github.com/shaarli/Shaarli

[2016-01-15 21:40] mro commented on #5
ok, good news then – the fix is in review and will be available within <1week. This is the relevant code change: 87008e4cf6

[2016-01-20 12:55] mro commented on #5
version 1.0.2 was rejected by Apple for *"App name contains information not relevant to content and functionality (iOS)"* and *"Specifically, your app description does not describe the functionality of the app."* referring to a screenshot of the settings screen inside the app (yes, really).

I'm in contact with the appreviewboard.

[2016-01-20 16:29] joedemo42 commented on #5
This is pretty ridiculous.

[2016-01-20 21:56] mro commented on #5
meanwhile the first issue was dropped but the name issue remains.

I'm thinking about new names now, maybe *ShaarliO2' :-)

[2016-01-20 21:57] mro commented on #5
meanwhile the 2nd issue was dropped but the name issue remains.

I'm thinking about new names now, maybe *ShaarliO2* or *Shaarlios* :-)

[2016-01-20 22:07] joedemo42 commented on #5
I'd vote for Shaarlios.

[2016-01-20 22:25] mro commented on #5
side note: *IOS is a trademark or registered trademark of Cisco in the U.S. and other countries and is used under license.* http://www.apple.com/legal/intellectual-property/trademark/appletmlist.html

[2016-01-21 09:27] joedemo42 commented on #5
On a second thought: how about Shaarlite, since it's a "lite" client, not a full one?

[2016-01-21 10:21] mro commented on #5
indeed. Or *ShaarliEx* as it's a share app extension. But I'd like to keep the old name as it is platform specific exactly as the app is.

[2016-01-27 09:05] mro opened #8 "support HTTP Auth"
maybe do this, too someday?

Inspired by https://github.com/dimtion/Shaarlier/commit/1d511b7a14541587dd9e98b60f9a37b81048a124

[2016-01-27 09:07] mro commented on #8
but clutters the settings UI. Maybe show only after a 401 response from the server.

[2016-02-01 11:50] mro commented on #5
started another try at Apple, new App Name is "Shaarli💫" or ShaarliO in non-unicode environments.

[2016-02-02 21:09] mro commented on #5
open until fix available in App Store

[2016-02-08 11:41] mro commented on #5
after Apple rejected again (3rd time now) – this time for "App crashing" and mentioning the App name change due to Apple in the release notes – I'm doing the feature release 1.1 now.

Just submitted moments ago. Fingers crossed.

[2016-02-16 08:32] mro commented on #7
fixed in v1.1 9b428a6

[2016-02-16 08:32] #7 closed

[2016-02-16 08:32] mro commented on #6
IMO fixed in v1.1 9b428a6

[2016-02-16 08:32] #6 closed

[2016-02-16 08:32] mro commented on #5
fixed in v1.1 9b428a6

[2016-02-16 08:32] #5 closed

[2016-02-16 08:33] mro commented on #4
added in v1.1 9b428a6

[2016-02-16 08:33] #4 closed

[2016-02-16 08:37] mro opened #9 "add a 'Reset to Factory Settings' button"
due to the shared access to credentials from both, within the App and from the Share Extension, removing the App doesn't clear the settings.

So a 'Reset' button may be helpful sometimes.

[2016-03-09 00:05] marcoskirsch opened #10 "Improve tag UI/UX"
I haven't figured out how to add tags when I share a link. Is it there? The browser interface has autocomplete for tags based on existing ones. It would be cool for the app to have separate field for tags with a better UI (i.e. put the tag within an oval once it's been typed) and support for auto-complete suggestions as it's being typed.

(cool app, thanks!)

[2016-03-09 08:35] mro commented on #10
Mi Marcos,
thank you for your suggestion, tags are set adding `#`-prefixed words at the beginning of the link description as seen e.g. on the screenshots like <img src="https://raw.githubusercontent.com/mro/ShaarliOS/master/appstore/screenshots/en-US/3_iphone35_share.png" width="80">.

So while I don't agree it's *unintuitive* (Twitter made `#` popular for such a purpose), I do agree it's *inconve

[2016-03-09 08:57] mro commented on #10
Maybe *word completion* [*"You may also use UITextChecker to obtain completions for partially entered words and display the completions in a table view in a popover view."*](https://developer.apple.com/library/prerelease/ios/documentation/StringsTextFonts/Conceptual/TextAndWebiPhoneOS/LowerLevelText-HandlingTechnologies/LowerLevelText-HandlingTechnologies.html#//apple_ref/doc/uid/TP40009542-CH15-S

[2016-03-09 09:06] mro commented on #10
or like as an `inputAccessoryView` [this](http://stackoverflow.com/a/29661451)

[2016-03-09 09:24] mro commented on #10
or a 3rd party [`ACEAutocompleteBar`](http://stackoverflow.com/a/35511249/349514)

[2016-03-09 14:45] marcoskirsch commented on #10
One big tradeoff with the current tagging method, other than the question of whether it's intuitive or not, is that one cannot enter new lines in the comment field. Especially when using Markdown, this is very limiting.

At the very least or as a first step, I'd suggest putting the tags in their own input field. Don't require #, and parse out whitespace and commas.

The idea of using autocomplete

[2016-03-09 15:21] mro commented on #10
switching the keyboard to the numeric one (hit `123` bottom left) gives you a `return` key (bottom right) and then you can enter newlines.

[2016-03-09 15:25] mro commented on #10
The desktop-browser-bookmarklet isn't my design goal.

Achieving the 90% use-cases with the least possible taps, however, is. To that end some kind of tag-completion is crucial, indeed.

[2016-03-13 09:16] mro opened #11 "Support Multiple Shaarlis"

[2016-05-16 08:38] n00b12345 commented on #10
I'm a little confused too. Adding #tag doesn't seem to add any tags to Shaarli. It adds them as text description. Could you help? I must be doing something wrong.

[2016-05-16 17:57] mro commented on #10
@n00b12345 can you give an example of a non-working description?

[2016-05-16 18:10] n00b12345 commented on #10
@mro for some stupid reason I'd turned the tag option off in the settings. How silly of me. Terribly sorry about this. Everyone is working fine.

[2016-05-16 20:05] mro commented on #10
@n00b12345 nevermind, I prefer false-positives over surprising showstoppers. Thank you for taking both the time to report and re-check.

[2016-05-17 17:12] n00b12345 opened #12 "Grab Title from in-app links"
I'm within an app, say Twitter for iOS, and I tap on a link and share it using the Shaarli extension. More often the not, the title will not be extracted from the link. This exact thing works perfectly within Safari. But not when Shaarli extension is used from other apps.

Could there be a fix for this?

[2016-05-17 19:22] mro commented on #12
interesting, could you give example links? Currently I don't fiddle with the title but rely on what iOS gives me by default.

[2016-05-17 20:05] n00b12345 commented on #12
@mro Try this link with the Twitter for iOS app installed.

https://twitter.com/verge/status/732652153806979072

Now tap and hold and share the link included within that tweet. As you'll see, the title isn't extracted. This happens will all apps that isn't Safari.

[2016-05-17 20:17] mro commented on #12
thx, I remember to have seen similar with Firefox and iCab.

[2016-07-19 11:31] JanJastrow opened #13 "Can't login"
Hi,

I can't login to my fresh installation.
It just display the HTML output as an error message.
Tried HTTP and HTTPS

![img_3526](https://cloud.githubusercontent.com/assets/2591991/16948445/fdb91eae-4db4-11e6-8602-80ec33f7fe1c.PNG)
- iOS 10 b3
- iPhone 6 Plus
- ShaarliOS v1.1
- [Shaarli 0.7.0](https://github.com/shaarli/Shaarli/releases/tag/v0.7.0)
- Theme: [Shaarli-Material](https://github.com/

[2016-07-19 11:38] mro commented on #13
Hi Jan,
thanks for the report, that's embarassing. I have a look.

[2016-07-19 12:07] Gehirnfussel commented on #13
Just a additional information (maybe it does matter, who knows):
My password has more then 32 characters :key: :grin:

[2016-07-19 12:19] mro commented on #13
ok, saw it in simulator, too. So sadly the theme is too different from the original shaarli theme.

I'll hunt down how and see if the next release of shaarli *may* support https://github.com/kalvn/Shaarli-Material, too.

[2016-07-19 12:20] mro opened #14 "1PW crash"
reported here https://github.com/mro/ShaarliOS/issues/13#issue-166309060

[2016-07-19 12:21] mro commented on #14
also: https://github.com/mro/ShaarliOS/issues/13#issuecomment-233612410

[2016-07-19 12:27] mro commented on #13
1st: the template lacks the (optional) `normalize-space(string(/html/body//*[@id='shaarli_title']))`

[2016-07-19 12:30] mro commented on #13
2nd: it doesn't have the (mandatory) logout link `normalize-space(string(/html/body//a[@href='?do=logout']/@href))` – that's IMO the only way to detect a successful login.

[2016-07-19 12:45] mro commented on #13
can you login on the shaarli webinterface? I can't – opened https://github.com/kalvn/Shaarli-Material/issues/52

[2016-07-19 12:47] Gehirnfussel commented on #13
Thank you. I'll try/use a different theme for now until this has been resolved by the theme.

[2016-07-19 13:14] mro commented on #13
Now I can login and post.

Can you double-check you typed the pwd correctly? E.g. by C+P from a note where you can visually check the pwd.

[2016-07-19 13:24] Gehirnfussel commented on #13
It's getting stranger by the minute.
I tried a different theme: didn't work
I tried the default theme with a custom css: didn't work
I tried just the default theme: didn't work

The password was c'n'pasted directly from 1Password. Pasted it to a notepad, looked good (no trailing spaces, etc).
Changed my password 8 characters (handtyped): didn't work

(Yes, login on desktop or mobile website does w

[2016-07-19 13:31] mro commented on #13
odd, indeed. So the login from the App always fails while it always succees from the Browser on the same device?

[2016-07-19 13:31] Gehirnfussel commented on #13
Yes, that is correct.

[2016-07-19 13:33] mro commented on #13
dou you think you could add a call to log uid+pwd on the server to see what goes over the wire?

[2016-07-19 13:36] mro commented on #13
somewhere here: https://github.com/shaarli/Shaarli/blob/v0.7.0/index.php#L365 a line like

    logm('Remove me after debugging '.$login.'   '.$password);

[2016-07-19 13:57] Gehirnfussel commented on #13
`logm($GLOBALS['config']['LOG_FILE'], $_SERVER['REMOTE_ADDR'], 'Remove me after debugging '.$login.'   '.$password);` did the trick.

It seems like the app does not even send the login.
(I don't get any calls of the login from the app; login from web does result in a log-entry.)

[2016-07-19 14:01] mro commented on #13
ah, sorry, yes. hm.

Do you want to check against https://shaarli.dev.mro.name/material/ uid: tast pwd: t1st
?

[2016-07-19 14:02] mro commented on #13
hngrr. browser login fails. wait a moment.

[2016-07-19 14:03] mro commented on #13
ok

[2016-07-19 14:03] Gehirnfussel commented on #13
"Setup done" 👍

[2016-07-19 14:04] mro commented on #13
interesting.

[2016-07-19 14:04] mro commented on #13
just for fun – can you post something (safe for work)?

[2016-07-19 14:06] Gehirnfussel commented on #13
Done.

[2016-07-19 14:07] mro commented on #13
ok, thx. So how do we figure out the relevant difference in server configuration? Mine is https://github.com/kalvn/Shaarli-Material/issues/52#issue-166321049

What is yours?

[2016-07-19 14:20] Gehirnfussel commented on #13
apache2 -v
Server version: Apache/2.2.22 (Ubuntu)
Server built:   Jul 24 2015 17:25:42

php -v
PHP 5.3.10-1ubuntu3.23 with Suhosin-Patch (cli) (built: May 19 2016 20:38:03)
Copyright (c) 1997-2012 The PHP Group
Zend Engine v2.3.0, Copyright (c) 1998-2012 Zend Technologies
    with the ionCube PHP Loader v4.6.0, Copyright (c) 2002-2014, by ionCube Ltd.

Ubuntu 14.04LTS

(Tried also with PHP 5.6.23)

[2016-07-19 14:33] mro commented on #13
nevermind. Can you check the effectively running php via a i.php file like http://php.net/manual/de/function.phpinfo.php#example-544

[2016-07-19 14:38] Gehirnfussel commented on #13
[phpinfo.pdf](https://github.com/mro/ShaarliOS/files/371688/phpinfo.pdf)

[2016-07-19 14:54] mro commented on #13
puh. a lot of stuff. Looks like php 5.6 wthich should be fine (while 5.3 wouldn't be).

Frankly I'm clueless at the moment.

[2016-07-19 15:02] mro commented on #13
I consider running https://github.com/mro/Shaarli-API-test/blob/master/tests/test-login-ok.sh against your endpoint. You can either do so yourself (just run the script, it will ask for what it needs) or hand me your endpoint and credentials to github@mro.name

[2016-07-19 15:43] mro commented on #13
mavbe related? https://github.com/shaarli/Shaarli/issues/595 I'll watch closely!

[2016-07-19 18:18] mro commented on #13
maybe a trailing `/` is mandatory for paths…

[2016-07-19 18:26] Gehirnfussel commented on #13
Oh… my… god…
It's working.
It was the trailing `/`
Would've not guessed that. 😠

Thank you!

[2016-07-19 20:31] mro commented on #13
reopening, has to be fixed.

[2016-07-19 20:32] mro commented on #13
@Gehirnfussel thanks for the report and your patience hunting this one down.

[2016-07-19 20:37] Gehirnfussel commented on #13
Just to let you know: It's working fine (now) with the 'Material' Theme

[2016-07-19 20:54] mro commented on #10
tagging UX is hard. really. https://github.com/shaarli/Shaarli/issues/594

[2016-09-21 18:29] mro opened #15 "(Hash-)tags"
currently all `#`-prefixed words at the begin of the descriptions are converted to tags and removed from the description. That was simple to begin with and worked to add tags to a post.

Maybe a slightly better UX might be to
1. take all `#`-words within the description,
2. set them as tags, but
3. leave them in the description where they are.

If re-adding an existing shaarli-entry that has tags

[2016-12-03 14:32] konstcranky opened #16 "Shaarli/Shaarli connection failed"
Downloaded and installed https://github.com/shaarli/Shaarli/releases/download/v0.8.0/shaarli-v0.8.0-full.tar.gz

When trying to connect - receiving:

Connection failed.
Required login form field slot missing.

BTW, im using self-signed ssl certificate.

[2016-12-03 15:48] mro commented on #16
thx for the report, will have a look within 8h.

[2016-12-04 17:48] mro commented on #16
Hi @konstcranky

can you try against https://shaarli.dev.mro.name/v0.8.0/ – a clean install from the url above. Works for me with the ShaarliOS App-Store version v1.1.

Does the webinterface of your shaarli work? i assume you use the shaarli out of the box without a changed theme.

Can you verify?

Maybe the self-signed cert causes the issue, but in this case I would expect a different message. If

[2016-12-04 19:32] konstcranky commented on #16
Thank you. I will check tomorrow

[2016-12-05 10:05] konstcranky commented on #16
Thank you again. My problem was in self-signed cert.

Tip#2 from https://blog.httpwatch.com/2013/12/12/five-tips-for-using-self-signed-ssl-certificates-with-ios/ helped me.

[2016-12-05 19:50] mro commented on #16
thank you for reprting, now we know how to deal with self-signed certs.

[2016-12-05 19:50] #16 closed

[2017-01-02 22:25] mro commented on #12
hm, just got the hint that https://github.com/mro/ShaarliOS/blob/master/ios/Share/ShareVC.m#L71 may need a bit of https://developer.apple.com/reference/uikit/uiactivityitemsource/1620455-activityviewcontroller to get the page title.

[2017-01-03 22:02] mro commented on #12
maybe: https://gist.github.com/blork/3908619597ab4515941d

[2017-04-03 09:25] lx-s opened #17 "Support for Shaarli's 0.9.x REST API"
Hey!

Shaarli will receive a REST API in the near future (#https://github.com/shaarli/Shaarli/issues/609).
I think supporting this could greatly enhance ShaarliOS (from a feature and robustness standpoint),
and could simplify your code (no more parsing HTML?).

Do you have plans (or the time) to work on this?

[2017-04-03 19:13] mro commented on #17
yes, I do, as soon as there are tests that ensure compliance of new installations as well as demonstrate usage.

Closing for now, but shall re-open.

[2017-04-03 19:13] #17 closed

[2017-05-11 21:36] mro opened #18 "use a/@href="?" to find shaarli title"
see https://github.com/mro/Shaarli-API-test/commit/a78aae7e5899b84dee6c463b0f5638d6ef46b88a

[2017-06-06 15:49] marcoskirsch commented on #10
FWIW Wordpress app for iOS is open source and they have a nice tag UI. Maybe it can be leveraged.
https://github.com/wordpress-mobile/WordPress-iOS

[2017-06-06 20:56] mro commented on #10
thx for the hint.

All I can see is a plain textbox with comma-separated tags in it, and a spinning loading indicator disappearing after ~1sec. I think I am missing something. Could you post a screenshot what you see?

[2017-06-06 22:34] marcoskirsch commented on #10
![img_0592](https://user-images.githubusercontent.com/8085768/26854983-4c42e6e6-4ade-11e7-9093-c57367ebbf40.PNG)

Live as you type, a list of previously used tags is auto-populated and filtered.

[2017-06-08 20:08] mro commented on #10
thx, though I don't like a dedicated, separate screens for posting+tagging.

[2017-10-11 19:35] #13 closed

[2017-10-29 15:10] zafai opened #19 "App is not working under iOS 11.0.3"
I just bought the App, but it is not working after setting up all information and try to send a link to the server only a error message appears.

Please fix the app. Thank you :+1:

[2017-10-30 18:44] mro commented on #19
thx for the report and your patience. Can you elaborate on the error message a bit?

[2017-10-30 19:04] zafai commented on #19
Thanks for the reply. Here is a screenshot from the error message.
It happens when I use the share button in Safari to share it to my shaarli installation.
The Link gets added to the Shaarli installation but there is still this popup.

And maybe you could add a function to directly add tags when sharing a link. :+1:

![image-1](https://user-images.githubusercontent.com/10008540/32190119-0b8a797e-b

[2017-10-31 08:36] mro commented on #19
thanks for the screenshot, it's quite interesting. What I can see is, that the app worked and made it to the final check whether the posted link appeared on the shaarli. But it cannot be found.

Can you please
- verify that the link isn't on the shaarli, also not on page 2 or later,
- tell me about the shaarli you use (where did you get it from, version, template if non-default)
- check if your sh

[2017-11-05 09:26] mro commented on #19
Closing because no feedback. To wrap up:

- app works fine on all iOS versions since 8.0 including the mot recent,
- tags are added as `#mytag` at the beginning of the text description,
- issue is most probably caused by the shaarli template in use not mentioning the posted link after the post.

[2017-11-05 10:19] zafai commented on #19
Sorry for the late reply, here are the requested information:

1. verify that the link isn't on the shaarli, also not on page 2 or later,
1.1 The Link gets posted on the first page.
2. tell me about the shaarli you use (where did you get it from, version, template if non-default)
2.1 Version 0.9.2, downloaded here https://github.com/shaarli/Shaarli/releases/download/v0.9.2/shaarli-v0.9.2-full.zip

[2017-11-15 21:51] mro opened #20 "Caution! TLS now mandatory!"
![tls](https://user-images.githubusercontent.com/61800/32862181-8dbfd0ea-ca57-11e7-8286-50c9657be991.png)

[2018-03-27 22:55] lilarcor opened #21 "Doesn’t work on iOS 11.3"
Hello, it can’t logon with ios11.3, I got some html source code , seems it’s the main page of shaarli, but app never net let me in. It’s about two years since last release, will you release a new version?

[2018-03-28 06:31] mro commented on #21
Hi,

thank you for the report, yes, there will be a new version soon.

However, it does work on iOS 11. Can you check if the html goo message is false alarm.

And what precise shaarli version do you run?

[2018-03-28 23:45] lilarcor commented on #21
Thanks for your quick reply. I am running 1.1 ,downloaded from IOS App Store. ![Image](https://i.imgur.com/1gpftyX.jpg)

FYI

[2018-12-19 13:57] chrisbeckstrom commented on #21
Any idea what's causing this? I'm running Shaari iOS v1.1+9v428a6 on iOS 12.0 (16A366) and getting basically the same issue @lilarcor is getting. I initially downloaded v0.10.2 on my server.

I've also tried:

- using the latest Shaari release from the releases page
- cloning the git and compiling
- trying out a few different releases from the releases page
- trying on a different server
- reinsta

[2018-12-19 21:11] mro commented on #21
I'll look into it, it may take until sunday, however.

[2018-12-22 21:17] mro commented on #21
can you install the shaarli you use (in case of failure an untampered with https://github.com/shaarli/Shaarli/releases/tag/v0.10.2) on a different webserver or subdirectory without any possibly interfering `.htaccess`?

I suspect there's some HTTP stuff (auth?) going on.

[2018-12-29 02:45] lilarcor commented on #21
@mro I think the problem has been fixed after I tried the new version v0.10.2. Thanks for helping. And I found another bug. I will post a new ticket.

[2018-12-29 02:46] #21 closed

[2018-12-29 02:50] lilarcor opened #22 "use shaarli with custom port"
My ISP blocks inbound ports for 80/443, so I am using a custom port for https accessing from outside.
When I setup my shaarli, the tile shows like this https://mydomain.com:7999:7999/shaarli/ , you can see the port is double shown. I am using v0.10.2

[2018-12-29 02:55] lilarcor opened #23 "IOS client makes random tiltle"
I am an IOS user with latest version. Server is running v0.10.2. I found if I leave the title empty when shaarli a new url in IOS client, the server side will auto make a random title for it, which starts with ? (eg ?cOovxw).
I think it makes sense. But if I'm a new IOS user, I could be confused. I  think the title should take some beginning wording of the content if user leaves it empty. That wil

[2020-03-22 15:36] #18 closed

[2020-03-22 15:38] #20 closed

[2020-03-22 15:41] mro commented on #23
apologies for the long delay, plz reopen if still an issue.

[2020-03-22 15:41] #23 closed

[2020-03-22 15:41] mro commented on #22
apologies for the long delay, plz reopen if still an issue.

[2020-03-22 15:41] #22 closed

[2020-03-22 15:42] mro commented on #19
apologies for the long delay, plz reopen if still an issue.

[2020-03-22 15:42] #19 closed

[2020-03-22 15:43] #15 closed

[2020-03-22 15:43] #14 closed

[2020-03-22 15:44] mro commented on #12
apologies for the long delay, plz reopen if still an issue.

[2020-03-22 15:44] #12 closed

[2020-03-22 15:45] #10 closed

[2020-03-25 07:23] ParoTheParrot opened #24 "Problem with firefox"
The new version does not work for me: neither with iOS firefox nor safari: no new entry thru the share dialog!
Submitting a new entry with the app itself works!

[2020-03-26 06:57] mro commented on #24
Thank you for reporting, I'll look into it immediately.

[2020-03-26 06:58] mro commented on #24
Can you elaborate on iOS, Safari & Firefox versions and an example link?

[2020-03-26 07:07] mro commented on #24
Can you do me a favour and try the backend at https://demo.0x4c.de/shaarli-v0.41b/?E7g76Q with did: demo and pwd: demodemodemo

[2020-03-26 07:19] mro commented on #24
How can we find out what's special with your setup – https://demo.shaarli.org/?WgYmTw also works find.

[2020-03-26 07:54] ParoTheParrot commented on #24
Same situation as described  [here](https://github.com/mro/ShaarliOS/issues/24#issue-587494220)

[2020-03-26 07:55] ParoTheParrot commented on #24
newest versions (up to date)

[2020-03-26 19:43] mro commented on #24
@ParoTheParrot can you explain how https://demo.0x4c.de/shaarli-v0.41b/?qnvnNg cme to be? It looks like you modified it. How did you do that?

[2020-03-27 06:29] ParoTheParrot commented on #24
I submitted a new entry in the shaarli iOS app

[2020-03-27 06:39] ParoTheParrot commented on #24
BTW : I use  the newest Shaarli https://github.com/shaarli/Shaarli/releases/tag/v0.11.1

[2020-03-27 06:49] mro commented on #24
how did you enter the URL?

[2020-03-27 07:08] hobbesjaap opened #25 "Problem with ShaarliOS connecting to my Shaarli"
I'm trying to get ShaarliOS to work with my self-hosted installation of Shaarli.

I've got mine all set with a proper Let's Encrypt SSL certificate and it's working just fine. Due to the self-hosted nature, it's not running on the expected HTTPS port 443, but on a different port, 39215. (Not the real port number, keeping it vague for security reasons :))

In the URL setup of ShaarliOS I've put:

s

[2020-03-27 18:35] mro commented on #25
thanks for reporting, I'll look into it tomorrow what happens if there's a port specified.

what App version are you using?

[2020-03-28 11:53] mro commented on #25
tl:dr; I guess Apple interferes with the connection and there's nothing I can do about it.

I set up https://demo.0x4c.de:8443/shaarli-v0.41b/ (uid demo pwd demodemodemo) and can open that only in Safari (iOS 13.4). Neither [iCab Mobile](https://apps.apple.com/us/app/icab-mobile-web-browser/id308111628) nor [Firefox](https://apps.apple.com/us/app/firefox-private-safe-browser/id989804926) do.

Can

[2020-03-28 12:44] mro commented on #25
related to #22

[2020-03-28 20:53] ilPeo commented on #24
I have the same issue:
iOS 12.4.5 , I’m running Shaarli 0.11.
Everything was OK until the new app update.
I tried reinstalling it and re-entering all the settings.

[2020-03-29 02:33] hobbesjaap commented on #25
That's odd! The URL you've provided works just fine for me in Firefox (iPadOS 13.4).

I've also got a range of apps that use self-hosted services on custom ports (Reeder & DevonThink being two of them). Both run just fine.

In my Shaarli log (once I try logging into Shaarli through the ShaarliOS app and I get locked out), I can see that the connection is being made, but something goes wrong with h

[2020-03-29 06:00] hobbesjaap commented on #25
And further to your previous question, what version of Shaarli am I using, I'm running the latest release (0.11.1) from the official Shaarli github: https://github.com/shaarli/Shaarli

[2020-03-31 10:31] mro commented on #24
@ParoTheParrot and @ilPeo there's a new version, could you please check that the problem is resolved? https://apps.apple.com/de/app/shaarlios/id1027441388 Thx!

[2020-03-31 10:51] mro commented on #25
the port issue remains in the recent 1.2.1 version. I guess it's a bug when my App follows the server redirect-dance. A fix will prbly. have to wait until the 1.3.

[2020-03-31 12:07] hobbesjaap commented on #25
Dear Marcus, thank you for the update. Then I will eagerly await version 1.3. Thank you!

[2020-03-31 14:34] ilPeo commented on #24
Now I hear a sound when I submit a link, but nothing else happens.
I'm willing to help, if you need.
Thanks

[2020-03-31 18:07] mro commented on #24
@ilPeo can you enter the backend from https://github.com/mro/ShaarliOS/issues/24#issuecomment-604266165 - that's a server of mine where I can inspect the server logs. The precise time also would be great. Thx!

[2020-04-01 08:22] ilPeo commented on #24
I just sent an URL, it’s 10.20 AM here in Italy

[2020-04-01 09:06] mro commented on #24
hm, looks good, doesn't it? https://demo.0x4c.de/shaarli-v0.41b/?uFuNFQ

So the issue may be your server. (Nevertheless you should **Aalways** see the post once you heard the sound).

Can you post a note (from the ShaarliOS App) to you server?

[2020-04-01 15:56] mro commented on #25
- the ShaarliOS v1.2.1 settings screen has a display bug never showing the port of the URL – the port will be properly used however (fixed in 51290ff),
- https://demo.0x4c.de:8443/shaarli-v0.41b/ is too old for non-standard ports – the more recent https://demo.0x4c.de:8443/shaarli-v0.10.2/ works fine.

@hobbesjaap could you plz. confirm?

[2020-04-01 16:54] ilPeo commented on #24
Maybe, but it's strange because I never had any issue with the old version of the app.
Do you mean that I should see the post **in the app** after it has send it to my server? I never see anything.

I'll try to upgrade my Shaarli server as soon as possible and let you know but I read the @ParoTheParrot has the same problem with the latest Shaarli release, so I have little hope.

Thanx

I tried, it

[2020-04-02 01:00] hobbesjaap commented on #25
Hi Marcus, unfortunately it's still the same error for me, the 400 when expecting 200 one. I've sent you a private email about this, since I would prefer not to share my server details with the public.

[2020-04-02 05:44] ParoTheParrot commented on #24
With the new version I got a popup message "Error. Got no respose body" and no new entry.

[2020-04-02 06:24] mro commented on #25
@hobbesjaap can you enter this backend URL https://demo.0x4c.de:8443/shaarli-v0.10.2/ with uid `demo` and pwd `demodemodemo` in Settings and (ignore that the port isn't displayed)

1. ensure you have the app version 1.2.1 (most recent),
2. post a note from within the app,
3. post a url via share sheet from e.g. Safari,
4. tell me about it here.

Thanks!

[2020-04-02 06:35] hobbesjaap commented on #25
Hi Marcus, I just tested with the URL you provided and it works immediately. I have no idea why mine isn't working though...

[2020-04-02 06:41] mro commented on #25
Today I'll try to install the most recent php shaarli version on my demo server to test it with port 8443. Stay tuned and thank you for your patience!

[2020-04-02 06:45] mro commented on #24
@ParoTheParrot I apologize for the annoyance and will submit a new version (1.2.2) later today.

Is the "response body" issue still Firefox only?

[2020-04-02 07:17] hobbesjaap commented on #25
I just dropped a second install of shaarli on my server, so I also went with 0.10.2.

I still get the ShaarliOS response **Expected status 200, got 400**

Back to drawing board...

[2020-04-02 07:41] hobbesjaap commented on #25
Fixed it!

As soon as I saw that it was working with your demo site, I knew it had to be something specific other than a port number.

In config.json.php I change open_shaarli from false to true. That seems to have done the trick! Thank you so much for everything, I'll keep you posted but that seems to be the solution.

[2020-04-02 07:51] hobbesjaap commented on #25
One step closer! I'm now logged in with ShaarliOS and things seem to be going well. But when I post anything to my Shaarli, it seems to post on ShaarliOS, but nothing is actually showing up on my Shaarli. :(

So sorry about this, I keep bringing up issues that might just be my particular setup... but then I have the Firefox plugin on my desktop and that works, so I'm not sure where I should look.

[2020-04-02 08:46] mro opened #26 "Promocodes v1.2.1"
App Store Promo codes, use at will, spread the word but please comment which one you used, valid until April 30th:

[code]

[2020-04-02 08:54] mro commented on #25
@hobbesjaap thank you for your patience and kindness.

I shall submit [v1.2.2](../milestone/7) for review later today, seems to post fine with most recent shaarli and custom port (and firefox 🦊) e.g. at https://demo.0x4c.de:8443/shaarli-v0.11.1/.

[2020-04-02 14:32] hobbesjaap commented on #25
It’s working!

The only caveat is that I need to keep my Shaarli publicly accessible, as soon as I hide my public links, ShaarliOS can’t connect. But that’s a small matter - I can easily store my bookmarks now from iPhone and iPad. Thank you for all your help with this!

[2020-04-02 18:37] mro commented on #25
That's nice to hear and very interesting! I'll have a look at that usecase.

[2020-04-02 18:37] #25 closed

[2020-04-02 18:39] mro commented on #26
@hobbesjaap grab a promocode or two and invite some friends.

[2020-04-03 08:26] mro opened #27 "Promocodes v1.2.2"
App Store Promo codes, use at will, spread the word but please comment which one you used, valid until Mai 1st:

[code]

supersedes #26

[2020-04-03 08:38] mro commented on #24
@ParoTheParrot @ilPeo the v1.2.2 just came out, do you want to check and give feedback? Thanks!

P.S.: I'd be happy if you [rate the App](https://apps.apple.com/de/app/shaarlios/id1027441388?mt=8&action=write-review).

[2020-04-03 08:39] mro commented on #25
@hobbesjaap I'd be happy if you [rate the App](https://apps.apple.com/de/app/shaarlios/id1027441388?mt=8&action=write-review).

[2020-04-03 08:49] #26 closed

[2020-04-03 09:21] ilPeo commented on #24
Thanks, but the issue is still there :-(

[2020-04-03 11:41] ParoTheParrot commented on #24
nothing new :-(

[2020-04-03 11:44] ParoTheParrot commented on #27
Why promo codes?

[2020-04-03 11:45] mro commented on #24
@ParoTheParrot @ilPeo can you both please use the backend server at https://demo.0x4c.de/shaarli-v0.11.1/ with user `demo` and password `demodemodemo` both posting a note from the app and share a url from firefox?

Please forgive me not trusting 3rd-party private servers.

[2020-04-03 11:47] mro commented on #27
mainly just because they are there and in case somebody has use for one to e.g. give it to a friend

[2020-04-04 12:01] raycheung opened #28 "Fail to connect to alternative HTTP port"
I self-hosted Shaarli server on an alternative HTTP port, but the app seemingly doesn't recognize <host>:<port> pattern in the URL field.

How should I make it work please?

[2020-04-04 12:08] raycheung commented on #28
Ah no... perhaps it's a password issue, which I used a password that contains `#` or `$`.

[2020-04-04 15:08] mro commented on #28
@raycheung thank you for your report, can you please enter the backend URL https://demo.0x4c.de:8443/shaarli-v0.11.1/ (without `https://`) with uid `demo` and pwd `demodemodemo` in settings and then

* ensure you have the app version 1.2.2 (most recent),
* post a note from within the app,
* post a url via share sheet from e.g. Safari,
* tell me about it here immediately after.

Thanks!

[2020-04-04 15:11] mro commented on #28
P.S.: on Monday I will prepare a demo backend with said characters in the pwd.

[2020-04-04 20:24] johannesmirus opened #29 "“linkform not found”"
I get the above mentioned error when trying to (re)connect to my self-hosted Shaarli. Presumably since the last app update.

![849A8E8D-F530-4376-A8FA-01529FD3C511](https://user-images.githubusercontent.com/15308906/78460650-df481e80-76c2-11ea-962b-0dee942c92d3.jpeg)

Thanks for taking a look onto it and for your fantastic work!

[2020-04-04 21:43] mro commented on #29
@johannesmirus thank you for your report, what precise shaarli version is you server running?

And can you please enter the backend URL https://demo.0x4c.de/shaarli-v0.11.1/ (without https://) with uid demo and pwd demodemodemo in settings and then

* ensure you have the app version 1.2.2 (most recent),
* post a note from within the app,
* post a url via share sheet from e.g. Safari,
* tell me abo

[2020-04-05 07:42] ilPeo commented on #24
Just something that came to my mind: could it be anything related to PHP? I recently upgraded to PHP 7.4 .
Which version are you running, @ParoTheParrot @mro ?

[2020-04-05 08:53] johannesmirus commented on #29
Did it and it worked with your demo installation.

You are running v0.11.1 though, I have the latest stable release v0.10.4 running. Could that cause a problem?

[2020-04-05 09:45] mro commented on #29
@johannesmirus IMO the fix is in c6f6748, I shall prepare and submit to Apple tomorrow.

Thanks for you patience and your help!

[2020-04-05 09:46] mro commented on #28
I shall prepare and submit to Apple tomorrow.

[2020-04-05 09:47] johannesmirus commented on #29
Perfect! Thanks for your fast und helpful answers! Im looking forward to the next release.

[2020-04-05 10:41] #28 closed

[2020-04-06 06:07] mro opened #30 "Promocodes v1.2.3"
App Store Promo codes, use at will, spread the word but please comment which one you used, valid until Mai 4th:

[code]

obsoletes #27

[2020-04-06 06:07] #27 closed

[2020-04-06 06:11] mro commented on #28
@raycheung can you confirm the issue is fixed in 1.2.3 https://github.com/mro/ShaarliOS/milestone/8?

P.S.: I'd be happy if you [rate the App](https://apps.apple.com/de/app/shaarlios/id1027441388?mt=8&action=write-review).

[2020-04-06 06:12] mro commented on #29
@johannesmirus can you confirm the issue is fixed in https://github.com/mro/ShaarliOS/milestone/8?

P.S.: I'd be happy if you [rate the App](https://apps.apple.com/de/app/shaarlios/id1027441388?mt=8&action=write-review).

[2020-04-06 06:15] mro commented on #24
@ParoTheParrot @ilPeo sorry for the inconvenience, but could you please once repeat the test from https://github.com/mro/ShaarliOS/issues/24#issuecomment-608388975 – a forgotten cron-job purged the demo backend early this morning.

Thanks for your patience and help!

[2020-04-06 06:40] ParoTheParrot commented on #24
I use 7.3

[2020-04-06 06:42] ParoTheParrot commented on #24
https://demo.0x4c.de/shaarli-v0.11.1/?JORd-w

[2020-04-06 07:51] johannesmirus commented on #29
Sorry, still the same error. :(

[2020-04-06 08:32] mro commented on #24
@ParoTheParrot

hm, the demo server seems to do the job. As I cannot see the server you have to issue with, any idea what could be a relevant difference to the demo backend?

[2020-04-06 08:33] mro commented on #29
sure you have the v1.2.3?

[2020-04-06 08:49] mro commented on #29
works https://demo.0x4c.de/shaarli-v0.10.4/ – what could possibly be a relevant difference?

[2020-04-06 09:21] johannesmirus commented on #29
Sorry, works neither with my installation nor with your demo v0.10.4 installation. However, the error message moved from the setup form to a message when trying to post

![IMG_4676](https://user-images.githubusercontent.com/15308906/78543267-b6c24080-77f8-11ea-840b-9266371a7ce5.jpg)

[2020-04-06 09:48] mro commented on #29
got it!

[2020-04-06 12:17] ilPeo commented on #24
I've been hosting my Shaarli instance on the same shared hosting without any issue for a few years.
No special configuration, I usually download the latest Shaarli release, unpack it and get it running.
What should I look for to make things clearer for you @mro ?

[2020-04-06 13:19] mro commented on #24
That sounds faily common. Some people add additional layers of security, do customize or patch the css/html etc.

[2020-04-06 13:21] ilPeo commented on #24
I only forced https

[2020-04-06 14:20] raycheung commented on #28
@mro Strangely it doesn't seem to work. I fail to connect to my server on alternative HTTP port now, yet in the previous release I could -- with a good simple password that contained no special character.

[2020-04-06 14:21] raycheung commented on #28
It blanks for a second, then prompts 'The request timed out.'

Note my server on that alternative HTTP port is hosted w/o https, as I used the host internally behind VPN.

[2020-04-06 20:15] mro opened #31 "Promocodes v1.2.4"
App Store Promo codes, use at will, spread the word but please comment which one you used, valid until Mai 5th:

[code]

obsoletes #30

[2020-04-06 21:39] raycheung commented on #28
To clear the confusions, the latest version is confirmed to work!

[2020-04-07 09:25] mro commented on #24
@ParoTheParrot @ilPeo can you please give the v1.2.4 a try, the v1.2.3 was total garbage :-(.

[2020-04-07 09:26] mro commented on #29
@johannesmirus can you please give the v1.2.4 a try, the v1.2.3 was a shame :-(.

[2020-04-07 09:27] mro commented on #28
finally, thank you for your patience!

[2020-04-07 09:35] johannesmirus commented on #29
YES! It worked with your demo installation, with my own installation, via sharing from Safari. Thank you very much for all your efforts! I'm very happy with your quick and friendly support.

[2020-04-07 09:35] #29 closed

[2020-04-07 10:21] ilPeo commented on #24
No good news.
One thing I noticed is that the app doesn’t even seem to connect to my server.
I don’t see any spinning wheel like the one attached, just to be clear

[2020-04-07 14:08] mro commented on #29
Thanks for you patience and your help!

[2020-04-07 14:15] mro commented on #24
As long as I can't see (and use) a server that shows the failure, I have no idea what I could do. I am blind to the problem. Can you clone a failing server and give me access. Use temporary credentials and post them here or even send the endpoint and credentials via [private email](https://github.com/mro/ShaarliOS#bug-reports).

Also I need to positively know what ShaarliOS version you are using.

[2020-04-07 16:25] ilPeo commented on #24
I’m on 1.24 right now.
I’ll try to setup a clone server as soon as possible.
Is there any specific log I can send you ?

[2020-04-07 19:46] mro commented on #24
@ilPeo no, not for now. I'll debug into the server responses once I can access it.

[2020-04-08 13:12] ilPeo commented on #24
here's my .htaccess file, any chance do you find something useful there?
`# Disable directory listing
Options -Indexes

RewriteEngine On

# Prevent accessing subdirectories not managed by SCM
RewriteRule ^(.git|doxygen|vendor) - [F]

# Forward the "Authorization" HTTP header
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

# REST API
RewriteCond %{REQUEST_FILENAM

[2020-04-08 13:15] ilPeo commented on #24
Here's my .htaccess file, maybe you find it useful
[code]

[2020-04-09 06:25] mro commented on #24
@ilPeo Thanks, but a failing server backend to use is what I need.

[2020-04-10 08:51] ilPeo commented on #24
I haven't got the time to setup another Shaarli instance, but in the meanwhile here's my server log just after trying to share a link via the app:
[code]

All attempts failed.

[2020-04-10 21:49] mro commented on #24
I see the app doesn't explicitly call `.../index.php` but relies on the web server having this as the default document. That's a bug I will fix 'til Tuesday.

Otherwise I see a lot of 200s end 302s which look successful. That's odd.

[2020-04-11 10:23] mro opened #32 "display posting errors until acknowledged"

[2020-04-11 10:26] mro opened #33 "don't generally add trailing / to endpoint url"
- also probe for `index.php`
- ask and use pasteboard

[2020-04-11 10:27] mro opened #34 "honor errors in early stage when posting"
via share extension.

[2020-04-11 12:55] mro commented on #24
however, I doubt that `index.php` affects your issue. If the web server tells [`200`](https://tools.ietf.org/html/rfc7231#section-6.3.1) on the final `POST` (see @ilPeo above), there's nothing the App can do about it, if server doesn't show the post.

[2020-04-11 13:15] ilPeo commented on #24
What's strange is that nothing has changed on the server, and it continues to work with link added by the browser bookmarklet.
Any idea?

[2020-04-11 14:20] mro commented on #24
Did you check the posts in doubt aren't private links visible after login only? There's a switch in the App on the settings screen.

[2020-04-11 16:21] ilPeo commented on #24
yes, I've done it but nothing changed. THX

[2020-04-11 16:37] mro commented on #24
what precisely have you done? What change have you expected?

[2020-04-11 16:39] mro opened #35 "take endpoint URL from clipboard when entering settings."

[2020-04-12 17:34] ParoTheParrot commented on #24
Please bring back th old version! This works without an problems for years !

[2020-04-13 08:35] mro commented on #24
@ParoTheParrot I understand your wish and can feel your pain, but the old App is history for several reasons. Please help me get the issue with your special situation (and so it looks like) sorted out.

Please tell me a backend URL + credentials that I can use and see the problem, so I can debug and possibly fix it.

[2020-04-13 10:11] #32 closed

[2020-04-13 10:11] #33 closed

[2020-04-13 10:11] #34 closed

[2020-04-13 10:11] #35 closed

[2020-04-13 15:28] mro opened #36 "default tags accumulate trailing whitespace"

[2020-04-13 15:31] #36 closed

[2020-04-13 16:19] mro commented on #24
maybe related https://github.com/shaarli/Shaarli/issues/428#issuecomment-168006494

[2020-04-14 08:32] mro opened #37 "Promocodes v1.2.5"
App Store Promo codes, use at will, spread the word but please comment which one you used, valid until Mai 12th:

[code]

obsoletes #31

[2020-04-14 08:33] #31 closed

[2020-04-14 08:36] mro commented on #24
Apple just approved the v1.2.5 – it should appear in the App Store soon.

@ParoTheParrot & @ilPeo can you please have a look and report if the v1.2.5 solves your problem or give me access to a failing server?

Thank you for your patience nd help getting this issue resolved.

[2020-04-14 08:44] ilPeo commented on #24
I’ll update as soon as it shows up for updating.
Thanks

**************************************************
.[dot]coma
frammentario, discontinuo, confuso: un blog
http://www.dotcoma.org
**************************************************

[2020-04-14 09:17] ilPeo commented on #24
It works now!!
Good job!

Thank you so much

[2020-04-14 09:27] mro commented on #24
Please [rate the app (click on the device)](https://apps.apple.com/it/app/shaarlios/id1027441388?mt=8&action=write-review), thanks!

[2020-04-14 11:17] ilPeo commented on #24
Done.

Thank you, keep up the good job.

[2020-04-14 13:19] ParoTheParrot opened #38 "1.2.5 requires https"
Why? I don't have https so i can't use shaarlios .
the old app was good enough ! A revamp isn't necessary!

[2020-04-14 13:22] ParoTheParrot commented on #24
Now I need https ,  that's the next problem (see new issue)

[2020-04-14 13:25] mro commented on #24
can we close this issue here?

[2020-04-14 13:27] mro commented on #38
Thanks for the report, can you elaborate why you now need https? Do you have an error message for me, a screenshot? How was the situation with v1.2.4?

[2020-04-14 13:37] mro opened #39 "User Agent when posting notes"

[2020-04-14 13:43] mro commented on #39
[code]

[2020-04-14 13:45] #39 closed

[2020-04-14 14:21] mro commented on #38
is this what you see?
![2020-04-14-161813-IMG_2785_--_ios_shot_shaarli](https://user-images.githubusercontent.com/61800/79235470-ef52c180-7e6b-11ea-9057-5526ebae6bde.PNG)

[2020-04-14 14:36] #38 closed

[2020-04-15 05:57] #24 closed

[2020-04-15 06:41] mro commented on #24
@ParoTheParrot thank you for your patience, I assume the v1.2.6 finally resolved your issue.

Would you want to [rate the app](https://apps.apple.com/it/app/shaarlios/id1027441388?mt=8&action=write-review)?

[2020-04-15 06:48] mro opened #40 "Promocodes v1.2.6"
[App Store](https://itunes.apple.com/us/app/ShaarliOS/id1027441388?mt=8) Promo codes. [What's that?](https://support.apple.com/kb/ht2737)

Use at will, spread the word and please comment or <a href="mailto:shaarlios@mro.name?subject=Promocode&body=https://github.com/mro/ShaarliOS/issues/40%0a%0aI used: ">mail me</a> which one you used.
And [please rate the app](https://apps.apple.com/us/app/shaarl

[2020-04-15 06:48] #37 closed

[2020-04-15 08:14] mro commented on #38
#20

[2020-04-19 03:12] rcrath opened #41 "App is not able to log in tomorrow shaarli"
iOS 13.3.1, Shaarli 0.11.1

Cannot login in settings for plugin. Triple checked credentials.

![1E3595B5-4828-4771-B4AC-C89491DC7A0C](https://user-images.githubusercontent.com/944636/79678433-4374e300-8197-11ea-8421-64d0617cccc4.png)

Related to issue [#125] ?

[2020-04-19 09:26] mro commented on #41
thanks for the report, I think I see the bug.

As a workaround: please try without the 'http://' in the beginning.

[2020-04-21 19:39] lbrack1 opened #42 "Host with sub domain not found"
The domain https://bookmarks.leobrack.co.uk points to the shaarli directory on my server and this works from the browser.

When connecting from the app I am getting the hostname cannot be found.

![62D94328-BFA4-4180-B0B9-B42A5CF9CD11](https://user-images.githubusercontent.com/29924655/79906132-306c4800-840f-11ea-8d11-8d15eafa6133.png)

![B2CD48EC-B7E4-4E74-9B54-EFC7ADF21F55](https://user-images.g

[2020-04-21 21:55] lbrack1 commented on #42
Ah, https:// vs www

[2020-04-21 21:55] #42 closed

[2020-04-22 08:56] mro commented on #42
Thanks for the report, it's a real bug, the same issue as #41

[2020-04-23 17:55] mro commented on #41
@rcrath did the suggested workaround mitigate your problem?

[2020-04-23 22:08] rcrath commented on #41
Yes. Fixed it

[2020-04-23 22:08] #41 closed

[2020-04-24 07:29] mro commented on #41
@rcrath I'd be happy if you could rate the app https://apps.apple.com/it/app/shaarlios/id1027441388?mt=8&action=write-review

[2020-04-24 09:31] mro opened #43 "remove settings switch "tags""
because an empty text field is as good.

[2020-04-24 11:47] #40 closed

[2020-04-24 11:51] mro opened #44 "Promocode v1.2.7"
[App Store](https://itunes.apple.com/us/app/ShaarliOS/id1027441388?mt=8) Promo codes. [What's that?](https://support.apple.com/kb/ht2737)

Use at will, spread the word and please comment or <a href="mailto:shaarlios@mro.name?subject=Promocode&body=https://github.com/mro/ShaarliOS/issues/40%0a%0aI used: ">mail me</a> which one you used.
And [please rate the app](https://apps.apple.com/us/app/shaarl

[2020-04-27 10:10] mro opened #45 "don't probe for cgi"
but rather rely on correct redirects on http://demo.0x4c.de/shaarligo?post=a%20new%20note in case.

https://github.com/mro/ShaarliGo/issues/19

[2020-07-06 20:02] #44 closed

[2020-07-15 08:25] mro commented on #45
keeping it for now but is problematic, because can cause ban.

[2020-07-15 08:25] #45 closed

[2020-07-15 08:25] #43 closed

[2020-07-15 08:31] mro opened #46 "SettingsVC: handle ban better"
When banned, the first `429` should stop the probing. Any subsequent errors just obscure the cause.

[2020-08-30 20:36] mro opened #47 "Try out https://github.com/ArthurHoaro effort"
https://github.com/shaarli/Shaarli/pull/1511#issuecomment-683431179

[2020-09-01 08:48] mro commented on #47
Yikes! https://github.com/shaarli/Shaarli/pull/1534

[2020-09-03 08:19] mro commented on #47
Try out
https://shaarli-next.hoa.ro/?post=https://github.com/mro/ShaarliOS/issues/47
https://shaarli-next.hoa.ro/?do=configure

[2020-09-03 15:53] mro commented on #47
not quite there yet.  The configure is perfect, the `?post` makes  📱 ShaarliOS think the service-endpoint is https://shaarli-next.hoa.ro/login. I have to nail it down why.

[2020-09-03 16:35] mro commented on #47
the loginform returns with the linkform and action. Need to honour that. Previously just posted the linkform to the endpoint.

Will take a bit to change that.

[2020-09-03 17:05] ArthurHoaro commented on #47
I'm not sure to understand what's your issue is. Let me know if there is something I can do on my end.

[2020-09-04 10:24] mro commented on #47
I see, issue not that I ignore the form action (being identical to the form document url), but that I ignore the form base url and stubbornly post to the service endpoint. Have to change that and post to the form's html document's base url.

[2020-09-05 18:00] #47 closed

[2020-09-07 09:37] mro opened #48 "SettingsVC: timeout adjustable"

[2020-09-07 14:56] #48 closed

[2020-09-08 14:34] mro opened #49 "Promocodes v1.2.9"
[App Store](https://itunes.apple.com/us/app/ShaarliOS/id1027441388?mt=8) Promo codes. [What's that?](https://support.apple.com/kb/ht2737)

Use at will, spread the word and please comment or <a href="mailto:shaarlios@mro.name?subject=Promocode&body=https://github.com/mro/ShaarliOS/issues/40%0a%0aI used: ">mail me</a> which one you used.
And [please rate the app](https://apps.apple.com/us/app/shaarl

[2020-09-09 07:50] mro opened #50 "SettingsVC: remove "Private" switch"
and leave the default setting to the backend.

[2020-09-09 09:10] mro opened #51 "Obtain timezone from backend"

[2020-10-21 23:35] sjimwillis opened #52 "ios14"
Installed, configured and posted from app but it doesn’t appear in share sheet. Any ideas?

[2020-10-21 23:37] sjimwillis commented on #52
Sorry appears now, took a few times

[2020-10-21 23:37] #52 closed

[2021-02-16 17:05] mro commented on #8
![Simulator Screen Shot - iPhone SE (1st generation) - 2021-02-16 at 18 02 55](https://user-images.githubusercontent.com/61800/108096633-791d7d80-7081-11eb-9dd8-f5f5344ecd61.png)

[2021-02-19 07:08] mro opened #53 "Colors esp. dark mode"
![Simulator Screen Shot - iPhone SE (1st generation) - 2021-02-19 at 08 07 10](https://user-images.githubusercontent.com/61800/108469990-83aa6380-7289-11eb-9f6b-3e7d9cec61a7.png)

[2021-02-19 21:16] #51 closed

[2021-02-19 21:17] #50 closed

[2021-02-19 21:17] #8 closed

[2021-02-20 11:28] mro opened #54 "1.3.1"

[2021-02-20 11:28] #54 closed

[2021-02-20 11:31] #49 closed

[2021-02-20 11:32] mro opened #55 "Promocodes v1.3"
[App Store](https://itunes.apple.com/us/app/ShaarliOS/id1027441388?mt=8) Promo codes. [What's that?](https://support.apple.com/kb/ht2737)

Use at will, spread the word and please comment or <a href="mailto:shaarlios@mro.name?subject=Promocode&body=https://github.com/mro/ShaarliOS/issues/55%0a%0aI used: ">mail me</a> which one you used.
And [please rate the app](https://apps.apple.com/us/app/shaarl

[2021-03-29 15:21] mro opened #56 "Make 'Title' editable in share sheet"

[2021-04-06 15:55] mro commented on #56
Wordpress seems to add both into one single text input: https://github.com/luckyboy501/wordpress-ios/blob/master/WordPress/WordPressShareExtension/ShareViewController.swift#L173

[2021-04-07 09:40] mro opened #57 "Scrape Title client-side"
related to https://github.com/mro/ShaarliGo/issues/30 and https://github.com/mro/ShaarliOS/issues/56

[2021-04-07 09:48] mro commented on #57
see

- https://developer.apple.com/library/archive/documentation/General/Conceptual/ExtensibilityPG/ExtensionScenarios.html#//apple_ref/doc/uid/TP40014214-CH21-SW12
- https://github.com/wordpress-mobile/WordPress-iOS/blob/develop/WordPress/WordPressShareExtension/WordPressShare.js

[2021-04-10 08:45] mro opened #58 "Promocodes"
[App Store](https://itunes.apple.com/us/app/ShaarliOS/id1027441388?mt=8) Promo codes. [What's that?](https://support.apple.com/kb/ht2737)

Use at will, spread the word and please comment or <a href="mailto:shaarlios@mro.name?subject=Promocode&body=https://github.com/mro/ShaarliOS/issues/55%0a%0aI used: ">mail me</a> which one you used.
And [please rate the app](https://apps.apple.com/us/app/shaarl

[2021-04-10 08:46] mro commented on #55
superseded by https://github.com/mro/ShaarliOS/issues/58

[2021-04-10 08:46] #55 closed

[2021-04-10 09:36] #57 closed

[2021-04-23 07:12] mro commented on #58
new version 1.4.1, new promocodes. Updated above.

[2021-06-15 17:44] smonff opened #59 "Can’t login"
Hi,

Trying to use SharliOS, but can’t login to my instance. The address is [balik.network/linx](https://balik.network/linx).

I tried all sort of combinations, like using HTTP or adding the protocol explicitly. I also tried to change my password.

Maybe the domain name is suspicious since it contains `net`, maybe SharliOS misinterpret it.

The only message I have is `wrong login/password` but I a

[2021-06-30 07:47] mro commented on #59
uh, just seen the issue now. Will have a close look in the next 48h.

[2021-06-30 07:54] mro commented on #59
@smonff thanks for reporting,

1. does browser login with the same credentials work?
2. also on the mobile device?
3. can you add a ShaarliOS screenshot of the failure here?
4. what does the server log say?
5. can you clone the shaarli under the same hostname with new path and credentials and disclose them credentials to me? E.g. via https://paste.mro.name/

[2021-07-07 09:20] smonff commented on #59
Hi,

thanx for the answer.

- 1 and 2 : everything is fine, I sure checked that before reporting
- see the screenshot below
- 4 and 5 : I’ll get back to you for this, afaik, nothing special in the logs

![F7342A61-C4C4-41AB-8BE7-275C734BBBA6](https://user-images.githubusercontent.com/1219097/124734260-3ca9cb80-df15-11eb-9f9b-143579fa6035.png)

[2021-07-07 09:26] smonff commented on #59
Since it doesn’t seem to be a password issue, it could be related to something linked to the `.network` domain name or maybe the `/linx` extra path to Shaarli. I am gonna setup a subdomain and see if it helps.

[2021-07-11 19:45] mro commented on #59
a clone under e.g. /liny would be great.

Can you meanwhile test against the instance at https://demo.mro.name/shaarli-v0.11.1/ with

user demo
pwd demodemodemo

to rule out issues on the phone & network side.

[2021-07-11 19:46] mro commented on #59
or also the official https://demo.shaarli.org/

[2021-07-11 20:50] smonff commented on #59
I confirm I can login from the demo instance.

[2021-07-11 20:53] smonff commented on #59
I can also connect to the second one.

[2021-07-11 21:09] smonff commented on #59
So ok, I did a thing and it solved the problem. It was a password paste problem.

I changed my password by removing all “special” characters and became able to login to my instance. I mean the new password only use [a-z][0-9] chars and their capital equivalent.

Old password was something like `:8-$;(B%Z_rM]]?i?p{'+]1|xQk008]$,L}\z2HxTB^%YpEl`. Maybe some escape sequence or something created an is

[2021-07-11 22:07] mro commented on #59
is that a leading blank prior the `:`

[2021-07-11 22:08] mro commented on #59
nice password though, will check.

[2021-07-11 22:25] smonff commented on #59
No leading blank: only Github’s formatting style can be incriminated.

[2021-07-12 06:39] #53 closed

[2021-07-12 11:29] smonff commented on #59
It fixed my initial issue and you seem to have find a related improvement, so I close it.

[2021-07-12 11:29] #59 closed

[2021-07-12 15:42] mro commented on #59
@smonff thanks for reporting and you patience!

The fix is available in code and will be submitted to the App Store tomorrow. Then there will also be new promo codes at #58

Thanks for using #shaarlio💫 and [please rate ⭐️ the app 📱](https://apps.apple.com/it/app/shaarlios/id1027441388?mt=8&action=write-review), be it good or bad.

[2021-07-12 15:46] smonff commented on #59
@mro I am happy if it helped to improve your app and make other people life easier by avoiding bugs.

[2021-07-12 15:59] mro opened #60 "SettingsVC: visualise probing"
related to #46

maybe display request URLs and response codes like in a console.

[2022-01-29 14:18] sounds2k opened #61 "not working fully on Chrome under iOS 15.2.1 on an iPhone 12 mini"
Hi,

this extension doesn't appear to be working properly for me on my iPhone 12 mini running iOS v15.2.1, there appear to be two issues.

Firstly - if I use Google Chrome, the page title is blank - and you can't enter one. The summary is also empty (other than the default tags). If I use safari, the page title and summary (where possible) is pre-populated. It does grab an image if available.

Sec

[2022-02-21 21:59] gingerbeardman opened #62 ""Share failed: The request timed out." but share was saved OK"
I'm getting "Share failed: The request timed out."

...but share was saved OK!

Any ideas?

- iOS 15.3.1
- iPhone SE 2020
- Shaari via docker

[2022-02-21 22:02] gingerbeardman opened #63 "Layout assumes standard iOS keyboard"
I use Gboard (Google keyboard) on my iPhone SE 2020

it's a fraction taller than the standard kehyboard, which means the layout of the ShaarliOS panel is not as expected.

- At the top, there is an area that is not tinted with black
- Audience row is cut-off half way down
- And the whole panel has a scrollbar

The double scroll bar is the worst thing, because it makes it difficult to scroll the de

[2022-02-21 22:03] gingerbeardman commented on #63
![image](https://user-images.githubusercontent.com/49612/155031342-7a5c177b-3b6f-4f80-bd96-bf05840622a5.png)

[2022-02-21 22:04] gingerbeardman commented on #62
![image](https://user-images.githubusercontent.com/49612/155031424-4afe6ce9-6c48-4514-b717-d19c880e6781.jpeg)

[2022-02-21 22:17] gingerbeardman commented on #62
This is related to me using the following plugin: https://framagit.org/Alda/shaarli-autoarchiveorg

[2022-02-23 14:02] mro commented on #61
thanks for reporting, I shall look into it!

[2022-02-23 14:04] mro commented on #62
@gingerbeardman Can you elaborate on the "Safari via docker" a little – I can't imagine what that means.

[2022-02-23 14:06] mro commented on #63
@gingerbeardman Thanks for reporting by the way!

[2022-02-23 15:53] mro commented on #61
first – https://github.com/mro/ShaarliOS/issues/56 won't change soon.

second - I suspect the westlands interfere with the scraping javascript https://github.com/mro/ShaarliOS/issues/57 and that needs some attention. Stay tuned.

[2022-02-23 15:55] mro commented on #63
Worst case I will have to re-build the share UI and do better as Apple did.

[2022-02-24 07:26] mro commented on #61
am puzzling how I could test the js execution of https://github.com/mro/ShaarliOS/blob/master/swift4/Share/Scraper.js against https://www.westlands.org.uk/page/?title=Term+Dates+21%2F22&pid=92

[2022-03-03 18:27] mro commented on #61
the plus '+' indeed triggers the issue. Haven't nailed it yet, however.

[2022-03-04 09:35] mro commented on #61
now the chrome issue – I know the same from Firefox and iCabMobile. It just doesn't share the URL ass URL but URL + Title + Text mangled together as Text. Which I don't register for (so far). https://github.com/mro/ShaarliOS/issues/12

[2022-03-04 09:43] mro commented on #62
@gingerbeardman I'm not fluent in php, but do you think saving to archive.org may be synchronously blocking the incoming shaare action from getting a timely response?

[2022-03-07 10:24] #61 closed